*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Andika New Basic, sans-serif;
  /* background-image: url('./images/bgLightl.jpg'); */
  color: #a19f9f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  font-size: inherit;
  text-decoration: none;
}
body {
  background-color: #1d1d1d;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}
img {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 40px 40px 40px;
}
